* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s linear;
    align-items: center;
    justify-content: center;
}


body.dark{
    background-color: #3c3d33;
}

body.light{
    background-color: #fff;
}

h1{
    color: #1ca78b;
}

div.text-con{
    text-align: center;
    margin-top: 5vh;
}

div.text-con p{
    color: #1ca78b;
    font-weight: 700;
    margin-bottom: 5px;
}

div.btn-con-1{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

div.btn-con-1 button{
    width: 12vw;
    margin-top: 2vh;
}

div.btn-con-1 button:hover{
    transform: scale(1.2);
    background-color: #68e4cb;
    transition: 0.5s ease-in-out;
}

div.btn-con-player{
    text-align: center;
}

img{
    height: 50px;
    margin-top: 50vh;
    margin-bottom: 5vh;
}

.playing{
    animation: loading 3s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

button{
    background-color: #1ca78b;
    color: #3c3d33;
    border: 3px solid #000;
    box-shadow: 1px 1px 2px 1px #4c4c4b;
}


a{
    text-decoration: none;
    text-decoration-line: none;
}






/* phone */

@media (max-width: 600px) {
    div.text-con{
        text-align: center;
        margin-top: 0;
        padding: 10%;
    }  
    
    div.btn-con-1 button{
        width: 55vw;
        margin-top: 2vh;
    }

    a{
        text-decoration: none;
        text-decoration-line: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    div.text-con{
        text-align: center;
        margin-top: 0;
        padding: 3%;
    }  
    
    div.btn-con-1 button{
        width: 25vw;
        margin-top: 2vh;
    }

    a{
        text-decoration: none;
        text-decoration-line: none;
    }
}
